* { margin: 0; padding: 0; }
.page-enter-active, .page-leave-active {
    transition: opacity 0.5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}
html, body, #__nuxt, #__layout {
    height: 100%;
    width: 100%;
    font-size: 10px;
}
.full {
    height: 100%;
    width: 100%; 
}
.space_around {
    display: flex;
    justify-content: space-around;
}
.readonly{
    pointer-events: none;
}